//////////////////////////////////////////////////
// Typography
//////////////////////////////////////////////////

// Colors

$text = #000
$text_attn = #ff0000


// Fonts

$font_jp = "游明朝", YuMincho, 'ヒラギノ明朝 ProN W3', 'HiraMinProN-W3', 'HG明朝E', 'Meiryo', 'ＭＳ Ｐ明朝', 'MS PMincho', 'MS 明朝', serif
$font_en = serif
$font_en-script = script


// Common font styles

.bold
	font-weight: bold

.underline
	text-decoration: underline

.center
	text-align: center

.txt-attn
	color: $text_attn

.quote
	font-size(18)
	font-weight: bold
	font-style: oblique

.note
	font-size(13)